version: "3.7"

services:
  postgres:
    container_name: postgres
    image: postgres
    env_file:
      - configs/config.docker.db.env
    ports:
      - "5432:5432"
    networks:
      - backend

  mongo:
    container_name: mongo
    image: mongo
    env_file:
      - configs/config.docker.mongo.env
    ports:
      - "27017:27017"
    networks:
      - backend

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq
    env_file:
      - configs/config.docker.worker.env
    ports:
      - "5672:5672"
    networks:
      - backend

  nginx:
    container_name: nginx
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "80:80"
      - "443:443"
    networks:
      - backend

  api:
    container_name: api
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - mongo
    ports:
      - "8000:8000"
    command: "make ${API_COMMAND}"
    volumes:
      - ./:/app
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - CELERY_HOST=rabbitmq
      - CELERY_PORT=5672
      - CELERY_RESULT=rpc://
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    env_file:
      - configs/config.app.env
      - configs/config.db.env
      - configs/config.celery.env
      - configs/config.email.env
      - configs/config.mongo.env
    networks:
      - backend

  worker:
    container_name: worker
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - rabbitmq
      - api
    command: make worker
    volumes:
      - ./:/app
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - CELERY_HOST=rabbitmq
      - CELERY_PORT=5672
      - CELERY_RESULT=rpc://
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    env_file:
      - configs/config.app.env
      - configs/config.db.env
      - configs/config.celery.env
      - configs/config.email.env
      - configs/config.mongo.env
    networks:
      - backend

  # For development
  flower:
    container_name: flower
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - worker
    ports:
      - "5555:5555"
    command: make flower
    volumes:
      - ./:/app
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - CELERY_HOST=rabbitmq
      - CELERY_PORT=5672
      - CELERY_RESULT=rpc://
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    env_file:
      - configs/config.app.env
      - configs/config.db.env
      - configs/config.celery.env
      - configs/config.email.env
      - configs/config.mongo.env
    networks:
      - backend

networks:
  backend:
